a:link,
a:visited{
    color:white;
    background-color: greenyellow;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
a:hover{
    color:aqua;
    background-color:black;
}
a:active{
    color:palevioletred;
}
h1{
    background-color: darkgreen;
    color: aliceblue;

}
