tr:nth-child(even){background-color: #e2f2f5}
table{
    border-collapse: collapse;
    width: 80%;

}
td,th{
    padding: 0.25em;
    text-align: left;
    border: 1px solid #ccc;
}
tbody tr:nth-child(odd){
    background:  #e2f2f5
}
tfoot td{
    text-align: center;
    font-size: 0.753m;
    font-style: italic
}
